@{
    ViewData["Title"] = "Redator Saúde";
}

<div class="text-center">
    <h1 class="display-4">Redator Saúde - Peças Simples</h1>
    <p><a href="https://ruedaerueda.com.br"> Rueda & Rueda Advogados</a>.</p>
</div>
